<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
    <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
                <h2>Movies</h2>
            <a class="btn btn-primary" href="/movies/new">Add new movie</a>
            <br /><br />
                <table class="table table-striped" id="table1">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${movies}">
                        <td th:text="${movie.id}">Id</td>
                        <td th:text="${movie.title}">Title</td>
                        <td th:text="${movie.length}">Length</td>
                        <td>
                            <a th:href="${'/movies/' + movie.id}" class="btn btn-primary">Edit</a>
                            <a th:href="${'/movies/delete/' + movie.id}" class="btn btn-danger">Delete</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
    </div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>
    $(document).ready(function(){
        $('#table1').DataTable({
        });
    });
</script>
</body>
</html>
