<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
            <img th:src="${movie.image}" width="150px"/>
                <form class="" th:object="${movie}" th:action="@{/movies/save}" method="post" enctype="multipart/form-data">



                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="id">Movie Id:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="id" th:field="*{id}" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{title}" required="required"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Length:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:field="*{length}"/>
                                <span class="label label-danger" th:if="${#fields.hasErrors('length')}" th:errors="*{length}">Title Name Error</span>
                        </div>
                    </div><div class="form-group row">
                        <label class="col-sm-2 control-label">Image:</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" th:field="*{imageFile}" accept="image/*"/>
                                <span class="label label-danger" th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}">Image Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Type:</label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{types}" multiple="multiple">
                                <option th:each="type : ${T(com.booking.example.Entity.MovieType).values()}" th:value="${type}" th:text="${type.displayName}"></option>
                            </select>
                                <span class="label label-danger" th:if="${#fields.hasErrors('types')}" th:errors="*{types}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="hidden" th:field="*{image}"/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

</div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>

</script>
</body>
</html>
