<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
                <form class="" th:object="${room}" th:action="@{/rooms/save}" method="post">



                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="id">Movie Id:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="id" th:field="*{id}" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}" required="required"/>
                            <span class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Rows:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:field="*{rows}"/>
                                <span class="label label-danger" th:if="${#fields.hasErrors('rows')}" th:errors="*{rows}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Seats in row:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:field="*{seatsInRow}"/>
                                <span class="label label-danger" th:if="${#fields.hasErrors('seatsInRow')}" th:errors="*{seatsInRow}">Image Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Type:</label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{movieType}">
                                <option th:each="type : ${T(com.booking.example.Entity.MovieType).values()}" th:value="${type}" th:text="${type.displayName}"></option>
                            </select>
                                <span class="label label-danger" th:if="${#fields.hasErrors('movieType')}" th:errors="*{movieType}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

</div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>

</script>
</body>
</html>
