<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
    <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
                <h2>Shows</h2>
            <a class="btn btn-primary" href="/shows/new">Add new show</a>
            <br /><br />
                <table class="table table-striped" id="table1">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Movie</th>
                        <th>Room</th>
                        <th>Date</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="show : ${shows}">
                        <td th:text="${show.id}">Id</td>
                        <td th:text="${show.movie.title}">Name</td>
                        <td th:text="${show.room.name}">Type</td>
                        <td th:text="${#dates.format(show.time, 'dd-M-yyyy HH:mm')}">Type</td>
                        <td>
                            <a th:href="${'/shows/' + show.id}" class="btn btn-primary">Edit</a>
                            <a th:href="${'/shows/delete/' + show.id}" class="btn btn-danger">Delete</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
    </div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>
    $(document).ready(function(){
        $('#table1').DataTable({
        });
    });
</script>
</body>
</html>
