<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
                <form class="" th:object="${show}" th:action="@{/shows/save}" method="post">



                    <div class="form-group row" th:if="${show.id} != 0">
                        <label class="col-sm-2 control-label" for="id">Show Id:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="id" th:field="*{id}" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Movie:</label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{movie}" required="required">
                                <option th:each="movie: ${movies}" th:value="${movie.id}" th:text="${movie.title}"></option>
                            </select>
                            <span class="label label-danger" th:if="${#fields.hasErrors('movie')}" th:errors="*{movie}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Room:</label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{room}" required="required">
                                <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.nameWithType}"></option>
                            </select>
                            <span class="label label-danger" th:if="${#fields.hasErrors('room')}" th:errors="*{room}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Time:</label>
                        <div class="col-sm-10">
                            <input id="time" type="text" class="form-control datetimepicker-input" th:field="*{time}"  required="required" data-toggle="datetimepicker" data-target="#time"/>

                            <span class="label label-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Title Name Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

</div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script type="text/javascript">
    $(function () {
        console.log( "ready!" );
        $('#time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
    });
</script>
</body>
</html>
