<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
    <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
                <h2>Users</h2>
            <a class="btn btn-primary" href="/users/new">Add new user</a>
            <br /><br />
                <table class="table table-striped" id="table1">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phnoe</th>
                        <th>Role</th>
                        <th>&nbsp;</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">Id</td>
                        <td th:text="${user.username}">Type</td>
                        <td th:text="${user.email}">Type</td>
                        <td th:text="${user.phone}">Type</td>
                        <td th:text="${user.role.displayName}">Type</td>
                        <td>
                            <a th:href="${'/users/' + user.id}" class="btn btn-primary">Edit</a>
                            <a th:href="${'/users/delete/' + user.id}" class="btn btn-danger">Delete</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
    </div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>
    $(document).ready(function(){
        $('#table1').DataTable({
        });
    });
</script>
</body>
</html>
