<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-lg-9">
            <form class="" th:object="${formUser}" th:action="@{/users/save}" method="post">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="id">User Id:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="id" th:field="*{id}" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{username}" required="required"/>
                        <span class="label label-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{name}">Title Name Error</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{password}" required="required"/>
                        <span class="label label-danger" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">Title Name Error</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" th:field="*{email}" required="required"/>
                        <span class="label label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Title Name Error</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Phone:</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" th:field="*{phone}" required="required"/>
                        <span class="label label-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Title Name Error</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Role:</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="*{role}">
                            <option th:each="type : ${T(com.booking.example.Entity.Role).values()}" th:value="${type}" th:text="${type.displayName}"></option>
                        </select>
                        <span class="label label-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Title Name Error</span>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>

</script>
</body>
</html>
