<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/DataTable/datatables.min.css" th:href="@{/DataTable/datatables.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/tempusdominus-bootstrap-4.min.css" th:href="@{/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" media="screen"/>

</head>

<body>

</body>

</html>
