<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>


<body>
<!-- Navigation -->
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_WORKER, ROLE_ADMIN')">
                    <a class="nav-link" href="/shows">Admin</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <!--Logged as:<span sec:authentication="name"></span> |-->
                <a th:href="@{/logout}" class="nav-link">Sign Out</a>
                </li>
                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <!--Logged as:<span sec:authentication="name"></span> |-->
                <a th:href="@{/login}" class="nav-link">Sign In</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
    <div class="spacer">
        <div  th:if="${message}" class="alert alert-info alert-dismissible fade show" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

</div>
</body>
</html>
