<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h1 th:text="${show.movie.title}">Title</h1>
</div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>
    $(document).ready(function(){
        $('#table1').DataTable({
        });
    });
</script>
</body>
</html>
