<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h1 th:text="${movie.title}">Title</h1>
    <h4 th:text="${#dates.format(show.time, 'dd-M-yyyy HH:mm')}">Title</h4>
    <br />
    <div class="col-lg-12">
        <form method="post" action="/booking/select-seat">
            <div class="form-group row" th:each="ticket: ${tickets}">
                <label class="col-sm-2 control-label"  th:text="${ticket.name} + '   $' + ${ticket.price}"></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control"  th:name="'tickets[]'"  th:attr="price=${ticket.price}" value="0" min="0" max="50" />
                </div>
            </div>

            <input type="hidden" name="show" th:value="${show.id}" />
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>
