<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<style>
    .seat {
        -webkit-appearance: none;
        background-color: #0d9f1e;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        padding: 5px;
    }

    .seat:checked {
        background-color: #e1d500;
    }

    .unavailable {
        background-color: #99020d;
    }
</style>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="col-lg-12">
        <form method="post" action="/booking/checkout">
            <div th:each="i: ${#numbers.sequence(0, show.room.rows - 1)}" class="row">
                <div class="col-lg-1" th:text="*{i}"></div>
                <div class="col-lg-11">
                    <input th:each="j: ${#numbers.sequence(0, show.room.seatsInRow - 1)}" type="checkbox" class="seat"
                           th:id="'seat_' + *{i} +'_'+*{j}" th:title="'Row: '+*{i}+', Seat: '+*{j}" name="tickets[]"
                           th:value="${i}*100+${j}"/>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="form-group row">
                <input type="submit" id="submit" disabled="disabled" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div th:text="'Total price: $' + *{price}"></div>
</div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->

</body>
<script th:inline="javascript">
    function checkBooked() {
        $.getJSON("/booking/booked-seats/1", function (data) {
            var items = [];
            $.each(data, function (key, val) {
                var name = '#seat_' + val.row + '_' + val.seat;
                $(name).addClass("unavailable");
                $(name).prop("checked", false);
                $(name).prop("disabled", true);
                $(name).trigger("change");

                //console.log(document.querySelectorAll('input[type="checkbox"]:checked').length);
            });
        });
    }

    function checkSelectedCount() {
        var checked = document.querySelectorAll('input[type="checkbox"]:checked').length;
        var selectedTickets = [[${ticketCount}]];

        $('#submit').prop("disabled", checked !== selectedTickets);


    }

    setInterval(checkBooked, 8000);

    $(".seat").change(function() {
        console.log(document.querySelectorAll('input[type="checkbox"]:checked').length);
        checkSelectedCount();
    });
</script>
</html>
