<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Movies</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h1 th:text="${movie.title}">Title</h1>
    <div class="col-lg-12">
                <table class="table table-hover" id="">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Room</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="show : ${shows}">
                        <td th:text="${#dates.format(show.time, 'dd-M-yyyy HH:mm')}">Type</td>
                        <td th:text="${show.room.movieType.displayName}">Type</td>
                        <td th:text="${show.room.name}">Room</td>
                        <td>
                            <a th:href="${'/booking/show/' + show.id}" class="btn btn-primary">Book tickets</a>
                        </td>

                    </tr>
                    </tbody>
                </table>

    </div>
</div>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
<script>
    $(document).ready(function(){
        $('#table1').DataTable({
        });
    });
</script>
</body>
</html>
