<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Home page</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


<div class="container">

    <div class="row">


        <div class="col-lg-12">


            <div class="row">

                <div th:each="movie: ${movies}" class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a th:href="${'/booking/' + movie.id}"><img class="card-img-top moviePoster" th:src="${movie.image}" alt="" /></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="${'/booking/' + movie.id}" th:text="${movie.title}"></a>
                            </h4>
                            <h5 th:text="${movie.length} + ' min'">$24.99</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer">
                            <span th:each="type: ${movie.types}" th:text="${type.displayName}" class="badge badge-info"></span>

                        </div>
                    </div>
                </div>




            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>


<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>
